################################################################################
# Defines dependencies only for the top-level tasks.
# Python-based sub-projects each include their own Pipfile.
#
# Because this top-level context only exists in development,
# all dependencies are specified in [packages], none in [dev-packages].
################################################################################

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
pytest = "*"
requests = "*"

migraine_shared = {editable = true, path = "./migraine_shared"}

[packages.aws-infrastructure]
git = "https://github.com/fogies/aws-infrastructure.git"
subdirectory = "aws_infrastructure"
editable = true

################################################################################
# When co-developing aws-infrastructure, helpful to point at a branch.
################################################################################
# git = "https://github.com/<accountname>/aws-infrastructure.git"
# ref = "<branchname>"
################################################################################

[dev-packages]

[requires]
python_version = "3.9"
